@font-face {
	font-family:Pattaya;
	src:url('fonts/Pattaya-Regular.ttf');
}

.row {
	margin: 0 !important;
}

/* 2D2D44 */

body {
	background-image: url('img/fon.jpg');
	background-size: cover;
	background-position: 50% 50%;
}


/* ШАПКА */

.head {
	background-color: rgba(45, 45, 68, .8);
	padding: 10px 0;
	box-shadow: 0 -2px 5px 5px #2D2D44;
}

.head .row {
	display: flex;
	justify-content: center;
	align-items: center;
}

.title h1 {
	text-align: center;
	margin: 0;
	color: white;
	font-family: Pattaya;
	font-size: 40px;
}

.title h1.theme-title {
	display: none;
}

.top-logo {
	border-radius: 10px;
}


/* ТЕМЫ */

#themes {
	padding: 20px 0;
}

#themes .col-md-4 {
	position: relative;
	border: 1px solid transparent;
}

.rasporka {
	margin-top: 100%;
}

.theme {
	position: absolute;
	box-shadow: 2px 2px 10px #2D2D44;
	border-radius: 25px;
	background-color: rgba(255,255,255,.8);
	padding: 10px;
	font-size: 36px;
	color: #2D2D44;
	font-weight: bold;
	top: 5%;
	bottom: 5%;
	left: 5%;
	right: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	cursor: pointer;
	-webkit-transition: .6s;
	transition: .6s;
}

.theme:hover {
	color: white;
	background-color: rgba(45, 45, 68, .8);
}

.theme-detail {
	display: none;
	background-color: rgba(45, 45, 68, .8);
	/*min-height: 80vh;*/
	padding: 15px 0;
}

.menu-item {
	background-color: white;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	margin: 10px;
	cursor: pointer;
	-webkit-transition: .6s;
	transition: .6s;
}

.menu-item:hover,
.menu-item.act-item {
	color: white;
	background-color: red; 
}

.tab-content {
	color: white;
	margin: 10px;
	padding: 0 30px;
	font-size: 18px;
}

.clear {
	float: right;
	padding: 5px 10px;
	background-color: white;
	color: black;
	cursor: pointer;
	-webkit-transition: .6s;
	transition: .6s;
}

.clear:hover {
	color: white;
	background-color: red; 
}

input.skip {
	border: none;
	background: none;
	border-bottom: 1px solid white;
	width: 50px;
	outline: none;
	text-align: center;
}

input.skip[name$="got"] {
	width: 90px;
}

.example {
	color: #00FF00;
}

.sent-item:not(:first-of-type) {
	display: none;
}

.word.droppable,
.word.draggable {
	width: 120px;
	height: 80px;
	box-sizing: border-box;
	display: inline-block;
}

.word.droppable {
	border: 2px solid white;
}

.word.draggable {
	text-align: center;
	padding-top: 23px;
	border: 2px solid red;
	cursor: pointer;
	font-size: 24px;
	font-weight: bold;
	margin: 2px 0;
}

@media screen and (max-width: 1199px) {
	.word.droppable,
	.word.draggable {
		width: 85px;
		height: 55px;
	}
	.word.draggable {
		font-size: 16px;
		padding-top: 16px;
	}
}


/* REVISION */

#revision {
	
}

/* APPEARANCE */

.pic.droppable,
.pic.draggable {
	width: 150px;
	height: 180px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	margin: 2px 0;
}

.pic.droppable {
	border: 2px solid white;
	padding: 10px;
	font-size: 12px;
}

.pic.droppable b {
	color: #00FF00;
}

.pic.draggable {
	border: 2px solid red;
	cursor: pointer;
}

.pic-block:not(:first-of-type) {
	display: none;
}


/* DAY BY DAY */

.clock-wrapper {
	text-align: center;
}

.clock-wrapper h1 {
	display: none;
	margin-top: 150px;
	font-size: 50px;
}

.time-question {
	display: none;
}

.time-text {
	color: black;
	text-align: center;
}

.clock-btn {
	cursor: pointer;
	color: white;
	border: none;
	outline: none;
	border-radius: 3px;
	padding: 7px;
	font-size: 15px;
    background: -webkit-linear-gradient(bottom left, black, red);
    background: -o-linear-gradient(bottom left, black, red);
    background: linear-gradient(to top right, black, red);
}

.clock-btn:active {
    background: -webkit-linear-gradient(top right, black, red);
    background: -o-linear-gradient(top right, black, red);
    background: linear-gradient(to bottom left, black, red);
}

.clock {
	position: relative;
	margin: 30px auto;
	border: 3px solid white;
	border-radius: 50%;
	width: 240px;
	height: 240px;
}

.clock .number {
	position: absolute;
}

.clock .one {
	right: 58px;
	top: 9%;
}

.clock .two {
	top: 24%;
	right: 20px;
}

.clock .three {
	right: 6px;
	top: 46%;
}

.clock .four {
	bottom: 22%;
	right: 22px;
}

.clock .five {
	right: 62px;
	bottom: 7%;
}

.clock .six {
	bottom: 1px;
	left: 48.5%;
}

.clock .seven {
	left: 62px;
	bottom: 7%;
}

.clock .eight {
	bottom: 22%;
	left: 22px;
}

.clock .nine {
	left: 6px;
	top: 46%;
}

.clock .ten {
	top: 24%;
	left: 20px;
}

.clock .eleven {
	top: 8%;
	left: 60px;
}

.clock .twelve {
	top: 5px;
	left: 46%;
}

.clock .inner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform-origin: 2px 2px;
}

.clock .big {
	width: 90px;
	border: 2px solid red;
	transform: rotate(-90deg);
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

.clock .small {
	width: 70px;
	border: 3px solid blue;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
}

@keyframes one-big {
	100% { transform: rotate(300deg); }
}
@keyframes one-small {
	100% { transform: rotate(32.5deg); }
}

@keyframes two-big {
	0% { transform: rotate(300deg); }
	100% { transform: rotate(1080deg); }
}
@keyframes two-small {
	0% { transform: rotate(32.5deg); }
	100% { transform: rotate(97.5deg); }
}

@keyframes three-big {
 	0% { transform: rotate(720deg); }
	100% { transform: rotate(1320deg); }
}
@keyframes three-small {
	0% { transform: rotate(97.5deg); }
	100% { transform: rotate(147.5deg); }
}

@keyframes four-big {
	0% { transform: rotate(1320deg); }
	100% { transform: rotate(2130deg); }
}
@keyframes four-small {
	0% { transform: rotate(147.5deg); }
	100% { transform: rotate(215deg); }
}

@keyframes five-big {
	0% { transform: rotate(2130deg); }
	100% { transform: rotate(2610deg); }
}
@keyframes five-small {
	0% { transform: rotate(215deg); }
	100% { transform: rotate(255deg); }
}

@keyframes six-big {
	0% { transform: rotate(2610deg); }
	100% { transform: rotate(3420deg); }
}
@keyframes six-small {
	0% { transform: rotate(255deg); }
	100% { transform: rotate(322.5deg); }
}

@keyframes seven-big {
	0% { transform: rotate(3420deg); }
	100% { transform: rotate(4020deg); }
}
@keyframes seven-small {
	0% { transform: rotate(322.5deg); }
	100% { transform: rotate(372.5deg); }
}

@keyframes eight-big {
	0% { transform: rotate(4020deg); }
	100% { transform: rotate(4830deg); }
}
@keyframes eight-small {
	0% { transform: rotate(372.5deg); }
	100% { transform: rotate(440deg); }
}

@keyframes nine-big {
	0% { transform: rotate(4830deg); }
	100% { transform: rotate(5790deg); }
}
@keyframes nine-small {
	0% { transform: rotate(440deg); }
	100% { transform: rotate(520deg); }
}

/* ФУТЕР */

.footer {
	background-color: rgba(45, 45, 68, .8);
	padding: 30px 0;
	text-align: center;
	color: white;
	font-size: 24px;
	box-shadow: 0 2px 5px 5px #2D2D44;
}


/* МЕДИА */

@media screen and (max-width: 767px) {
	.tab-content {
		padding: 0;
	}
}